{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var author_count = 1;
        var author_wrapper = $("#author_container");
        var add_button = $("#add_author_field");

        $(add_button).click(function(e) {
            e.preventDefault();
            $(author_wrapper).append(`<div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="author${author_count}" list="author_list" placeholder="Author"/>
                                        <button class="btn btn-outline-danger" href="#" id="delete">Delete</button>
                                    </div>
                                </div>`); //add input box
            author_count++;
        });

        $(author_wrapper).on("click", "#delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
        });
        
        var keyword_count = 1;
        var keyword_wrapper = $("#keyword_container");
        var keyword_button = $("#add_keyword_field");
        
        $(keyword_button).click(function(e) {
            e.preventDefault();
            $(keyword_wrapper).append(`<div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="keyword${keyword_count}" list="keyword_list" placeholder="Keyword"/>
                                            <button class="btn btn-outline-danger" id="delete">Delete</button>
                                        </div>
                                    </div>`);
            keyword_count++;
        });

        $(keyword_wrapper).on("click", "#delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
        });
    });
</script>
{% endblock %}

{% block title %}
    Add Projects
{% endblock %}

{% block main %}
<form action="/add" method="post">
    <!-- Project Name -->
    <h5>Project Name</h5>
    <div class="form-group">
        <input class="form-control" id="project_name" name="project_name" type="text" placeholder="Project Name" required>
    </div>
    <br>
    <!-- Authors -->
    <h5>Authors</h5>
    <div class="form-group" id="author_container">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" name="author0" list="author_list" placeholder="Author" required>
                <datalist id="author_list">
                    {% for author in authors %}
                        <option value="{{ author['author_name'] }}">{{ author['author_name'] }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-outline-secondary" id="add_author_field">Add Author
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <!-- Keywords -->
    <h5>Keywords</h5>
    <div class="form-group" id="keyword_container">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" name="keyword0" list="keyword_list" placeholder="Keyword">
                <datalist id="keyword_list">
                    {% for listed_keyword in keyword_list %}
                        <option value="{{ listed_keyword['keyword_name'] }}">{{ listed_keyword['keyword_name'] }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-outline-secondary" id="add_keyword_field">Add Keyword
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <!-- Type -->
    <h5>Type</h5>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" id="type_name" name="type_name" list="type_list" placeholder="Project Type" type="text">
            <datalist id="type_list">
                {% for types in type_list %}
                    <option value="{{ types['type_name'] }}">{{ types['type_name'] }}</option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <!-- URL -->
    <h5>URL</h5>
    <div class="form-group">
        <input class="form-control" id="url" name="url" type="text" placeholder="URL" required>
    </div>
    <!-- Statement -->
    <h5>Statement</h5>
    <div class="form-group">
        <textarea class="form-control" id="statement" name="statement" cols="30" rows="5" placeholder="Statement/Abstract"></textarea>
    </div>
    <!-- Dates -->
    <h5>Dates</h5>
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input class="form-control" id="start_date" name="start_date" type="date" title="Start Date">
    </div>
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input class="form-control" id="end_date" name="end_date" type="date" placeholder="End Date">
    </div> 
    <div class="form-group">
        <label for="release_date">Release Date</label>
        <input class="form-control" id="release_date" name="release_date" type="date" placeholder="Release Date">
    </div>
    <br>
    <!-- Country -->
    <h5>Country</h5>
    <div class="form-group">
        <input class="form-control" id="country" name="country" type="text" placeholder="Country">
    </div>
    <br>
    <!-- Funding -->
    <h5>Funding</h5>
    <div class="form-group">
        <input class="form-control" id="funding_org" name="funding_org" type="text" placeholder="Funding Source">
    </div>
    <div class="form-group">
        <input class="form-control" id="funding_amount" name="funding_amount" type="number" placeholder="Funding Amount">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}