{% extends "layout.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            $('.author_btn').click(function() {
                var parent_div = $(this).parent();

                var button_text = $(this).text();
                var points = parent_div.find("#points");
                var more_authors = parent_div.find("#more_authors");
                
                if(button_text === 'Show Less'){
                    $(this).html('Show More');
                    points.show();
                    more_authors.hide();
                } else {
                    $(this).html('Show Less');
                    points.hide();
                    more_authors.show();
                }
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ author_results["author_name"] }}
{% endblock %}

{% block main %}
<div class="heading">
    <h2>{{ author_results["author_name"] }}</h2>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Author Name</th>
            <th>Other Names</th>
            <th>Email</th>
            <th>Website</th>
            <th>Statement</th>
            <th>Affiliations</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/authors/{{ author_results['author_id'] }}">{{ author_results["author_name"] }}</a></td>
            <td>{{ author_results["other_names"] }}</td>
            <td>{{ author_results["email"] }}</td>
            <td>{{ author_results["website"] }}</td>
            <td>{{ author_results["statement"] }}</td>
            <td>{{ author_results["affiliations"] }}</td>
            <td><a href="/authors/{{ author_results['author_id'] }}/edit"><button class="btn btn-secondary">Edit</button></a></td>
        </tr>
    </tbody>
</table>
<br>
<h3>Projects</h3>
<table class="table">
    <thead>
        <tr>
            <th style="width: 25%">Project Name</th>
            <th style="width: 25%">Authors</th>
            <th style="width: 12%">Release Date</th>
        </tr>
    </thead>
    <tbody>
    {% for row in project_results %}
        <tr>
            <td><a href="/projects/{{ row['project_id'] }}">{{ row["project_name"] }}</a></td>
            {% if row['authors']|length < 300 %}
                <td>{{ row["authors"] }}</td>
            {% else %}
                <td>
                    {{ row["authors"][:300] }}<span id="points">...</span><span id="more_authors" style="display: none;">{{ row["authors"][300:] }}</span>
                    <a class="author_btn">
                        Show More
                    </a>
                </td>
            {% endif %}
            <td>{{ row["release_date"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}