{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

<!--Placeholder body, add landing page later-->
{% block main %}
<div class="container">
    <h2>CSART Database</h2>
    <p class="lead text-muted">
        Website for CSART Database entry, retrieval and modification.
    </p>
    <br>
    <p>
        <a href="/projects"><button class="btn btn-secondary btn-lg">Project Search</button></a>
        <a href="/authors"><button class="btn btn-secondary btn-lg">Author Search</button></a>
    </p>
    <br>
    <p>
        <a href="/add"><button class="btn btn-primary btn-lg">Add a Project</button></a>
    </p>
</div>


{% endblock %}