{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <h2>CSART Database</h2>
    <p class="lead text-muted">
        Website for CSART research database entry, retrieval and modification.
    </p>
    <br>
    <p>
        <a href="/projects"><button class="btn btn-secondary btn-lg" style="width: 30%;">Project Search</button></a>
        <a href="/authors"><button class="btn btn-secondary btn-lg" style="width: 30%;">Author Search</button></a>
        <a href="/keywords"><button class="btn btn-secondary btn-lg" style="width: 30%;">Keyword Search</button></a>
    </p>
    <br>
    <p>
        <a href="/add"><button class="btn btn-primary btn-lg" style="width: 30%;">Add a Project</button></a>
    </p>
</div>


{% endblock %}