{% extends "layout.html" %}

{% block head %}
    <script>
        $(document).ready(function() {
            var authors_elem = $("#authors-list");
            var authors = authors_elem.children();
            var author_btn = $(".author_btn");
            console.log(authors);

            if (authors.length > 30) {
                authors_elem.html(authors.slice(0, 30));
                authors_elem.append("<span id='points'>...</span>");
                author_btn.show();
            }

            $('.author_btn').click(function() {
                console.log("click");
                var button_text = $(this).text();
                
                
                if(button_text === 'Show Less'){
                    authors_elem.html(authors.slice(0, 30));
                    authors_elem.append("<span id='points'>...</span></br>");
                    $(this).html('Show More');
                } else {
                    authors_elem.html(authors);
                    $(this).html('Show Less');
                }
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ project_results["project_name"] }}
{% endblock %}

{% block main %}
<div class="heading" style="text-align: left; margin-bottom:1em;">
    <h2>{{ project_results["project_name"] }}</h2>
</div>
<hr>
<div class="author-container" style="text-align: left;">
    <div class="authors-list" id="authors-list">
        {% for author in author_results %}
            <span><a href="/authors/{{ author['author_id'] }}">{{ author['author_name'] }}</a>{% if not loop.last %},&nbsp;{% endif %}</span>
        {% endfor %}
    </div>
    <div><a class='author_btn' style="display:none">Show More</a></div>
    {% if project_results["primary_tag"] %}
        <div class="primary_tag">
            <b>Primary Tag:</b>
            <span>{{project_results["primary_tag"]}}</span>
        </div>
    {% endif %}
    {% if project_results["secondary_tag"] %}
        <div class="secondary_tag">
            <b>Secondary Tag:</b>
            <span>{{project_results["secondary_tag"]}}</span>
        </div>
    {% endif %}
    {% if keyword_results %}
        <div class="keywords">
            <b>Keywords</b>: 
            {% for keyword in keyword_results %} 
                <span><a href="/keywords/{{ keyword['keyword_name'] }}">{{ keyword['keyword_name'] }}</a>{% if not loop.last %},{% endif %}</span>   
            {% endfor %}
        </div>
    {% endif %}
    {% if project_results["type_name"] %}
        <div class="type">
            <b>Type: </b>{{ project_results['type_name'] }}
        </div>
    {% endif %}
    <div class="project-url">
        <b>URL</b>: <a href="{{ project_results['url'] }}" target="_blank" rel="noopener noreferrer">{{ project_results['url'] }}</a>
    </div>
    <div class="project-dates">
        <b>Year:</b>
        {{ project_results['year'] }}
        {% if project_results['release_date'] %}
                <b>Date:</b>
                {{ project_results['release_date'] }}
            
            {% elif project_results['start_date'] or project_results['end_date'] %}
                <b>Start Date:</b> {{ project_results['start_date'] }}
                <b>End Date:</b> {{ project_results['end_date'] }}
            {% endif %}
    </div>
    <div class="project-statement">
        <b>Statement:</b>
        <p>
            {{ project_results['statement'] }}
        </p>
    </div>
    <div class="project-funding">
        {% if project_results['funding_org'] and project_results['funding_amount'] %}
            <b>Funding Organisation:</b> {{ project_results['funding_org'] }}
            <b>Funding Amount:</b> ${{ project_results['funding_amount'] }}
        {% endif %}
    </div>
</div>

<a href="/projects/{{ project_results['project_id'] }}/edit"><button class="btn btn-primary">Edit Project</button></a>

{% endblock %}