{% extends "layout.html" %}

{% block head %}
<script>
    $(document).ready(function() {
        var author_count = 1;
        var author_wrapper = $("#author_container");
        var author_button = $("#add_author_field");

        var x = 1;
        $(author_button).click(function(e) {
            e.preventDefault();
            x++;
            $(author_wrapper).append(`<div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="author${author_count}" list="author_list" placeholder="Author"/>
                                            <button class="btn btn-outline-danger" id="delete">Delete</button>
                                        </div>
                                    </div>`); //add input box
            author_count++;
        });

        $(author_wrapper).on("click", "#delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })

        var keyword_count = 1;
        var keyword_wrapper = $("#keyword_container");
        var keyword_button = $("#add_keyword_field");
        
        $(keyword_button).click(function(e) {
            e.preventDefault();
            $(keyword_wrapper).append(`<div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="keyword${keyword_count}" list="keyword_list" placeholder="Keyword"/>
                                            <button class="btn btn-outline-danger" id="delete">Delete</button>
                                        </div>
                                    </div>`);
            keyword_count++;
        });

        $(keyword_wrapper).on("click", "#delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        });
    });
</script>
{% endblock %}

{% block title %}
    {{ project_results["project_name"] }} - Edit
{% endblock %}

{% block main %}
<form method="post">
    <h5>Project Name</h5>
    <div class="form-group">
        <input class="form-control" id="project_name" name="project_name" type="text" placeholder="Project Name" value="{{ project_results['project_name'] }}" required>
    </div>
    <h5>Authors</h5>
    <div class="form-group" id="author_container">
        <!-- loop through exisiting authors -->
        {% for author in author_results %}
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" name="old_author{{ author['author_id'] }}" list="author_list" placeholder="Author" value="{{ author['author_name'] }}" required>
                    <button class="btn btn-outline-danger" href="#" id="delete">Delete</button>
                </div>
            </div>
        {% endfor %}
        <!-- new authors -->
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" name="author0" list="author_list" placeholder="Author">
                <datalist id="author_list">
                    {% for listed_author in author_list %}
                        <option value="{{ listed_author['author_name'] }}">{{ listed_author['author_name'] }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-outline-secondary" id="add_author_field">Add Author
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
            </div>
        </div>
    </div>
    <h5>Project Lead</h5>
    <div class="form-group">
        <input class="form-control" id="project_lead" name="project_lead" type="text" placeholder="Project Lead" value="{{ project_results['project_lead'] }}">
    </div>
    <h5>Keywords</h5>
    <div class="form-group" id="keyword_container">
        <!-- loop through exisiting keywords -->
        {% for keyword in keyword_results %}
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" name="old_keyword{{ keyword['keyword_id'] }}" list="keyword_list" placeholder="Author" value="{{ keyword['keyword_name'] }}" required>
                    <button class="btn btn-outline-danger" href="#" id="delete">Delete</button>
                </div>
            </div>
        {% endfor %}
        <!-- new keywords -->
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" name="keyword0" list="keyword_list" placeholder="Keyword">
                <datalist id="keyword_list">
                    {% for listed_keyword in keyword_list %}
                        <option value="{{ listed_keyword['keyword_name'] }}">{{ listed_keyword['keyword_name'] }}</option>
                    {% endfor %}
                </datalist>
                <button class="btn btn-outline-secondary" id="add_keyword_field">Add Keyword
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                </button>
            </div>
        </div>
    </div>
    <h5>Type</h5>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" id="type_name" name="type_name" list="type_list" placeholder="Project Type" type="text" value="{{ project_results['type_name'] }}">
            <datalist id="type_list">
                {% for types in type_list %}
                    <option value="{{ types['type_name'] }}">{{ types['type_name'] }}</option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <h5>URL</h5>
    <div class="form-group">
        <input class="form-control" id="url" name="url" type="text" placeholder="URL" value="{{ project_results['url'] }}" required>
    </div>
    <h5>DOI</h5>
    <div class="form-group">
        <input class="form-control" id="doi" name="doi" type="text" placeholder="DOI" value="{{ project_results['doi'] }}">
    </div>
    <h5>Statement</h5>
    <div class="form-group">
        <textarea class="form-control" id="statement" name="statement" placeholder="Statement/Abstract" cols="30" rows="5">{{ project_results['statement'] }}</textarea>
    </div>
    <h5>Dates</h5>
    <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" id="year" name="year" type="number" min="1900" max="2099" step="1" placeholder="Year" value="{{ project_results['year'] }}">
    </div>
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input class="form-control" id="start_date" name="start_date" type="date" placeholder="Start Date" title="Start Date" value="{{ project_results['start_date'] }}">
    </div>
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input class="form-control" id="end_date" name="end_date" type="date" placeholder="End Date" value="{{ project_results['end_date'] }}">
    </div>
    
    <div class="form-group">
        <label for="release_date">Release Date</label>
        <input class="form-control" id="release_date" name="release_date" type="date" placeholder="Release Date" value="{{ project_results['release_date'] }}">
    </div>
    <h5>Country</h5>
    <div class="form-group">
        <input class="form-control" id="country" name="country" type="text" placeholder="Country" value="{{ project_results['country'] }}">
    </div>
    <h5>Funding</h5>
    <div class="form-group">
        <input class="form-control" id="funding_org" name="funding_org" type="text" placeholder="Funding Source" value="{{ project_results['funding_source'] }}">
    </div>
    <div class="form-group">
        <input class="form-control" id="funding_amount" name="funding_amount" type="number" placeholder="Funding Amount" value="{{ project_results['funding_amount'] }}">
    </div>
    <h5>Journal</h5>
    <div class="form-group">
        <label for="journal">Journal Name</label>
        <input class="form-control" id="journal" name="journal" type="text" placeholder="Journal" value="{{ project_results['journal'] }}">
    </div>
    <div class="form-group">
        <label for="publisher">Publisher</label>
        <input class="form-control" id="publisher" name="publisher" type="text" placeholder="Publisher" value="{{ project_results['publisher'] }}">
    </div>
    <div class="form-group">
        <label for="volume">Volume</label>
        <input class="form-control" id="volume" name="volume" type="text" placeholder="Volume" value="{{ project_results['volume'] }}">
    </div>
    <div class="form-group">
        <label for="issue">Issue</label>
        <input class="form-control" id="issue" name="issue" type="text" placeholder="Issue" value="{{ project_results['issue'] }}">
    </div>
    <div class="form-group">
        <label for="pages">Pages</label>
        <input class="form-control" id="pages" name="pages" type="text" placeholder="Pages" value="{{ project_results['pages'] }}">
    </div>
    <div class="form-group">
        <label for="cited_by">Cited By</label>
        <input class="form-control" id="cited_by" name="cited_by" type="number" placeholder="Number of Citations" value="{{ project_results['cited_by'] }}">
    </div>
    <h5>Tags</h5>
    <div class="form-group">
        <label for="primary_tag">Primary Tag</label>
        <input class="form-control" id="primary_tag" name="primary_tag" type="text" placeholder="Primary Tag" value="{{ project_results['primary_tag'] }}">
    </div>
    <div class="form-group">
        <label for="secondary_tag">Secondary Tag</label>
        <input class="form-control" id="secondary_tag" name="secondary_tag" type="text" placeholder="Secondary Tag" value="{{ project_results['secondary_tag'] }}">
    </div>
    <button type="submit" class="btn btn-primary" formaction="/projects/{{ project_results['project_id'] }}/edit">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
</form>
{% endblock %}